

#timer{
    font-size: 12vw;
    margin-top: 10px;
    
}
#header{
    font-size: 7vw;
    
}
.timerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;

}



.container{
    app-region:drag;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    
}

.buttons{
    margin:auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#start, #stop, #reset {
    color:white;
    text-align: center;
    width: 70px;
    height: 55px;
    border:solid 1px;
    border-radius: 50%;
    background-color: #009684;
}

